<div class="card mb-4 border-bottom shadow-sm ">
    <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]="cartItem.productImage"/>
          <div class="card-body">
              <p class="card-text">
                <strong>{{cartItem.qty}} x {{cartItem.price | currency: 'EUR'}}</strong>
              </p>
              <hr>
              <p class="card-text">
                <strong>{{cartItem.productName}}</strong>
              </p>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
    </div>
